.movieCard {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  background: #140f1d;
  box-shadow: 0 20px 30px 3px gold;
  border-radius: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 20px 0;
  transform: scale(0.95);
  transition: all 0.5s;
}
.movieCard:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 10px -12.12px rgba(0, 0, 0, 0.02);
}
/* .title {
  text-align: center;
} */
.title span {
  font-size: 20px;
}
/* .poster {
  border: 1px solid red;    
  align-self: center;
} */
.poster img {
  width: 250px;
  height: 250px;
}
/* .poster img:hover{
    transform: scale(1.3); 
} */
/* .description p {
  display: flex;
  flex-wrap: wrap; } */
.cardBottom {
  display: flex;
  justify-content: space-around;
}
.cardBottom a {
  text-decoration: none;
}
