.movieCard {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  background: #116466;
  box-shadow: 0 0 30px 3px gold;
  border-radius: 25px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  margin: 20px 0;
  transform: scale(0.95);
  transition: all 0.5s;
}
.movieCard:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 10px -12.12px rgba(0, 0, 0, 0.02);
}
.title span {
  font-size: 20px;
}
.poster img {
  width: 250px;
  height: 250px;
}
.cardBottom {
  display: flex;
  justify-content: space-around;
}
.cardBottom a {
  color: darkblue;
  text-decoration: none;
}
.cardBottom a:hover {
  color: gold;
}
.cardHeader {
  /* border: 1px solid white; */
  width: 90%;
  margin-left: 25%;
  display: flex;
  /* justify-content: space-between; */
}
/* .title {
  border: 1px solid red;
} */
.croiX {
  /* border: 1px solid red; */
  height: 34px;
  order: 1;
  position: relative;
  top: 20%;
  margin-left: 80px;
}
.btnX {
  border: none;
  background: transparent;
}
.fa-xmark {
  color: #ffd52d;
  transition: 0.2s;
  font-size: 40px;
}
