.MovieList{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movieCard{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    width: 30%;
}
.title{
    text-align: center;
}
.title span{
    font-size: 20px;
}
.poster{
    border: 1px solid red;    
    align-self: center;
}
.poster img{
    width: 250px;
    height: 250px;
}
.description p{
    display: flex;
    flex-wrap: wrap;
}