.App{
  margin-top: 4%;
  height: 100%;
  background: #06071b;
  color: white;
}
.App > .row{
  /* height: 100%; */
  overflow-x: auto;
  flex-wrap: nowrap;
}
@media only screen and (max-width: 650px) {
  .App{
    margin-top: 12%;
  }
}